**INTRODUÇÃO AO PANDAS**

Pandas é um pacote em Pyhton que fornece estruturas de dados rápido, flexível e expressivas. Projetadas para facilitar o trabalho com dados "relacionais" ou "rotulados". Pandas é adequado para dados tabulares, dados de Series temporais ordenados e não ordenados, dados da matriz arbitária(com rótulos de linhas e colunas)...As duas estruturas de dados principais dos pandas Series(unidimensionais) e DataFrame(bidimensionais) lidam com a grande maioria dos casos de uso típicos em finanças, estatística, ciências sociais e muitas áreas da engenharia.

FONTE:https://pandas.pydata.org/docs/getting_started/overview.html

In [20]:
#imports
import pandas as pd
import numpy as np

**CRIANDO OBJETO**

In [21]:
#CRIANDO UMA SERIES, E PASSANDO UMA LISTA DE VALORES, PERMITINDO QUE O PANDAS CRIE UM INDICE INTEIRO PADRONIZADO
s = pd.Series([1,2,3,np.nan,6,8])

In [22]:
print(s)  #ou somente s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [23]:
#CRIANDO UM DATAFRAME, PASSANDO UMA MATRIZ(NUMPY), COM UM INDICE DE DATA, HORA E COLUNAS ROTULADAS
dates = pd.date_range('20200101', periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01 -1.599227 -3.954682 -1.935948 -2.358089
2020-01-02  0.655268 -0.913605  1.131768  0.688690
2020-01-03  1.174306 -1.645058 -2.267937  0.263099
2020-01-04 -0.043774 -0.174847  0.831408  0.414425
2020-01-05 -0.049230  0.622479 -1.367243 -0.000274
2020-01-06  0.723707  2.657475 -0.305881 -0.460423

In [25]:
#CRIANDO OUTRO DATAFRAME - CONVERTENDO PARA SERIES
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20200102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] *4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-01-02  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-02  1.0  3   test  foo
3  1.0 2020-01-02  1.0  3  train  foo

In [26]:
#COLUNA NO DATAFRAME, APRESENTANDO DIFERENTES TIPOS
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [27]:
#SUBCONJUNTO DS ATRIBUTOS 
#df2.A                  df2.bool
#df2.abs                df2.boxplot
#df2.add                df2.C
#df2.add_prefix         df2.clip
#df2.add_suffix         df2.clip_lower
#df2.align              df2.clip_upper
#df2.all                df2.columns
#df2.any                df2.combine
#df2.append             df2.combine_first
#df2.apply              df2.consolidate
#df2.applymap
#df2.D
#exemplo:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

**VISUALIZANDO DADOS**

In [28]:
#Visualizando linhas superior e inferior
df.head()

                   A         B         C         D
2020-01-01 -1.599227 -3.954682 -1.935948 -2.358089
2020-01-02  0.655268 -0.913605  1.131768  0.688690
2020-01-03  1.174306 -1.645058 -2.267937  0.263099
2020-01-04 -0.043774 -0.174847  0.831408  0.414425
2020-01-05 -0.049230  0.622479 -1.367243 -0.000274

In [29]:
df.tail(2)

                   A         B         C         D
2020-01-05 -0.049230  0.622479 -1.367243 -0.000274
2020-01-06  0.723707  2.657475 -0.305881 -0.460423

In [30]:
#Exibindo índice - colunas
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
#DataFrame.to_numpy()fornece uma representação NumPy dos dados subjacentes
#A uma diferença fundamental entre os pandas e o NumPy: os arrays NumPy têm um tipo de tipo para toda a matriz,
#enquanto os DataFrames do pandas têm um tipo de coluna por coluna.
#Ligando o DataFrame.to_numpy(), os pandas encontrarão o tipo NumPy que pode conter todos os tipos no DataFrame,
#isso pode acabar sendo object, o que exige a conversão de todo valor em um objeto Python.

In [32]:
#Lembrando que dataframe.to_numpy sao rápidos e não requerem cópia de dados
df.to_numpy()

array([[-1.59922733e+00, -3.95468207e+00, -1.93594778e+00,
        -2.35808921e+00],
       [ 6.55268331e-01, -9.13605432e-01,  1.13176793e+00,
         6.88689981e-01],
       [ 1.17430624e+00, -1.64505760e+00, -2.26793734e+00,
         2.63098602e-01],
       [-4.37738436e-02, -1.74846529e-01,  8.31408286e-01,
         4.14425304e-01],
       [-4.92300835e-02,  6.22478669e-01, -1.36724291e+00,
        -2.73776199e-04],
       [ 7.23706990e-01,  2.65747511e+00, -3.05881399e-01,
        -4.60422854e-01]])

In [33]:
df2.to_numpy()

array([[1.0, Timestamp('2020-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [35]:
#DESCRIBE - mostra um resumo estatístico dos seus dados
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.143508 -0.568040 -0.652306 -0.242095
std    0.976773  2.223718  1.433421  1.107806
min   -1.599227 -3.954682 -2.267937 -2.358089
25%   -0.047866 -1.462195 -1.793772 -0.345386
50%    0.305747 -0.544226 -0.836562  0.131412
75%    0.706597  0.423147  0.547086  0.376594
max    1.174306  2.657475  1.131768  0.688690

In [36]:
#Classificando por Eixo
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-01-01 -2.358089 -1.935948 -3.954682 -1.599227
2020-01-02  0.688690  1.131768 -0.913605  0.655268
2020-01-03  0.263099 -2.267937 -1.645058  1.174306
2020-01-04  0.414425  0.831408 -0.174847 -0.043774
2020-01-05 -0.000274 -1.367243  0.622479 -0.049230
2020-01-06 -0.460423 -0.305881  2.657475  0.723707

In [37]:
#agora por valores
df.sort_values(by='C')

                   A         B         C         D
2020-01-03  1.174306 -1.645058 -2.267937  0.263099
2020-01-01 -1.599227 -3.954682 -1.935948 -2.358089
2020-01-05 -0.049230  0.622479 -1.367243 -0.000274
2020-01-06  0.723707  2.657475 -0.305881 -0.460423
2020-01-04 -0.043774 -0.174847  0.831408  0.414425
2020-01-02  0.655268 -0.913605  1.131768  0.688690